@tailwind base;
@tailwind components;
@tailwind utilities;
:root {

}



body {
  margin: 0;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
  font-size:smaller;
  padding-left: 0px !important;

}



button {
  /* padding: 0.6em 1.2em; */
  /* font-size: 10px !important; */
  /* font-weight: 300;
  font-family: inherit; */
  /* background-color: #000; */
  cursor: pointer;
}
input,
textarea,
select {
  border: 1px solid #ddd !important;
  padding: 5px;
}
select {
  background-color:#f3f3f4; 
}
/* .card {
  padding: 2em;
} */

#app {
  /* max-width: 80%; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


