@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  place-items: center;
  font-size:smaller;
  padding-left: 0px !important;

}



button {
  cursor: pointer;
}
input,
textarea,
select {
  border: 1px solid #ddd !important;
  padding: 5px;
}
select {
  background-color:#f3f3f4; 
}

#app {
  /* max-width: 80%; */
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}


